
.styleTable{
    text-align: center;
    margin-right: auto;
    margin-left: auto;    
    overflow: hidden;
    margin-bottom: 30px;
}
th, td {
    border: 1px solid #949499;
    padding: 15px 20px;
}
body {
            min-height: 100vh;
            background: linear-gradient(135deg, #4e54c8, #8f5cff);
            display: flex;
            align-items: center;
            justify-content: center;
        }
.card{border-radius: 25px;}

.submitReservation {
            background:linear-gradient(135deg, #6a11cb, #4080ee, #728ce2);
            border: none;
            border-radius: 7px;
}
.submitReservation:hover{
    color: #c6c6d3;
}


.icon{
        width:25px;
        height: 25px;

        margin-right: 5px;
            }
.label{
    font-weight:bold;

}
select,input{
    margin-top: 8px;
    size-adjust: 20px;
}
    